@mixin pill($color: $gray1, $width: auto) {
	--color: #{$color};
	border-radius: 200px;
	height: 34px;
	width: $width;
	padding: 0 10px;
	background-color: $white;
	border: 2px solid var(--color);
	color: var(--color);
	display: flex;
	align-items: center;

	&.secondary {
		--color: #{$secondary};
	}
	&.primary {
		--color: #{$primary};
	}

	&.selected {
		background-color: var(--color);
		color: $white;
	}
	.icon,
	svg {
		&:not(.alone) {
			margin-right: 8px;
		}
	}
	.text,
	p {
		margin: 0;
	}

	&--loading {
		width: 34px * 1.618 * 1.618;
		> * {
			opacity: 0;
		}
		@include skeleton;
	}
}
