$black: #121214;
$gray1: #292829;
$gray2: #403f40;
$gray3: #595758;
$gray4: #727071;
$gray5: #8d8a8a;
$gray6: #a9a6a5;
$gray7: #c5c2c0;
$gray8: #e2dfdd;
$gray9: #f1eeeb;
$white: #fffdfa;

$purple: #5f4bff;
$purple-darker: #393faf;
$purple-lighter: #7a69ff;
$orange: #ff5f4b;

$primary: $purple;
$secondary: $orange;
$disabled-color: $gray6;
$background: $white;

$mobile-nav-height: 70px;
