@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply text-gray-900;
	}
	a {
		@apply text-primary;
	}
	h1 {
		@apply text-5xl uppercase font-extrabold text-black;
	}
	h2 {
		@apply text-2xl text-black;
	}
	h3 {
		@apply text-xl text-black;
	}
	h6 {
		@apply text-lg font-medium;
		white-space: pre-line;
		overflow-wrap: break-word;
	}
	p {
		white-space: pre-line;
		overflow-wrap: break-word;
	}
	svg {
		@apply w-6;
	}
}
