@import 'variables/variables';

html {
	// font-family: 'Poppins', sans-serif;
	// font-style: normal;
	// color: $black;
	// font-size: 13px;

	width: 100%;
	// important for navigation and swiping:
	overflow: auto;
}
body,
html {
	// important for navigation and swiping:
	height: 100%;
}
body {
	// margin: 0;
	background-color: $background;
	color: $black;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::selection {
		background-color: rgba($primary, 0.8);
		color: $white;
	}
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	@apply text-gray-900;
}
a {
	@apply text-primary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply leading-tight;
}
h1 {
	@apply text-6xl font-serif-display font-bold uppercase text-black tracking-tight;
}
h2 {
	@apply text-6xl font-serif-display font-bold text-black tracking-tight;
}
h1,
h2 {
	font-size: clamp(3rem, 13vw, 7rem);
}
h3 {
	@apply text-3xl font-semibold text-black;
}
h4 {
	@apply text-2xl font-semibold;
}
h6 {
	@apply text-lg font-medium;
	/* white-space: pre-line; */
	overflow-wrap: break-word;
}
p {
	// white-space: pre-line;
	overflow-wrap: break-word;
}
svg {
	@apply w-6;
}
