@import 'variables/variables';

html {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	color: $black;
	font-size: 13px;

	width: 100%;
	// important for navigation and swiping:
	overflow: auto;
}
body,
html {
	// important for navigation and swiping:
	height: 100%;
}
body {
	margin: 0;
	background-color: $background;
	color: $black;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::selection {
		background-color: rgba($primary, 0.8);
		color: $white;
	}
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
