@import 'variables/mixins', 'variables/variables';

.page {
	// position: relative;
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	min-height: 100vh;
	overflow: hidden;
	--page-margin: calc(var(--space-size) * 6);
}

// .page-enter-active,
// .page-leave-active {
// 	transition: opacity 0.5s, transform 0.5s;
// }
// .page-enter,
// .page-leave-to {
// 	opacity: 0;

// 	$translate: 10rem;
// 	transform: translateY($translate);
// 	// &.transition {
// 	// 	&-top {
// 	// 	}
// 	// 	&-bottom {
// 	// 		transform: translateY(-$translate);
// 	// 	}
// 	// 	&-right {
// 	// 		transform: translateX($translate);
// 	// 	}
// 	// 	&-left {
// 	// 		transform: translateX(-$translate);
// 	// 	}
// 	// }
// }
$translate: 10rem;
.slide-top,
.slide-bottom {
	&-leave-active,
	&-enter-active {
		transition: opacity 0.3s, transform 0.3s;
	}
}

.slide-top-leave-to {
	opacity: 0;
	transform: translateY($translate);
}

.slide-top-enter {
	opacity: 0;
	transform: translateY(-$translate);
}

.slide-bottom-enter {
	opacity: 0;
	transform: translateY($translate);
}

.slide-bottom-leave-to {
	opacity: 0;
	transform: translateY(-$translate);
}

.cover-img {
	background: $gray6;
}
