@import 'variables/mixins', 'variables/variables';

.page {
	// position: relative;
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	min-height: 100vh;
	overflow: hidden;
	// background-color: $white;
	padding-bottom: 30px;
	--page-margin: calc(var(--space-size) * 6);
}

$page-translate: 4rem;

// .page-enter-active,
// .page-leave-active {
// 	transition: opacity 0.5s, transform 0.5s;
// }
// .page-enter,
// .page-leave-to {
// 	opacity: 0;
// 	transform: translateY(20px);
// }

.layout-enter-active,
.layout-leave-active {
	transition: opacity 0.2s;
	.page {
		transition: transform 0.2s;
	}
}
.layout-enter,
.layout-leave-to {
	opacity: 0;
	.page {
		&:not(.gallery) {
			transform: translateY(-$page-translate);
		}
		&.gallery {
			transform: translateY($page-translate);
		}
	}
}

// 	$translate: 10rem;
// 	transform: translateY($translate);
// 	// &.transition {
// 	// 	&-top {
// 	// 	}
// 	// 	&-bottom {
// 	// 		transform: translateY(-$translate);
// 	// 	}
// 	// 	&-right {
// 	// 		transform: translateX($translate);
// 	// 	}
// 	// 	&-left {
// 	// 		transform: translateX(-$translate);
// 	// 	}
// 	// }
// }

// .slide-top,
// .slide-bottom {
// 	&-leave-active,
// 	&-enter-active {
// 		transition: opacity 0.3s, transform 0.3s;
// 	}
// }

// .slide-top-leave-to {
// 	opacity: 0;
// 	transform: translateY($translate);
// }

// .slide-top-enter {
// 	opacity: 0;
// 	transform: translateY(-$translate);
// }

// .slide-bottom-enter {
// 	opacity: 0;
// 	transform: translateY($translate);
// }

// .slide-bottom-leave-to {
// 	opacity: 0;
// 	transform: translateY(-$translate);
// }

// .cover-img {
// 	background: $gray6;
// }
