@import 'variables/mixins', 'variables/variables', 'elements';

.disable-scroll {
	overflow: hidden !important;
}

:root {
	--nav-height: theme(spacing.20);
}

.page {
	--page-margin: calc(var(--space-size) * 6);

	min-height: 100vh;
	// overflow: hidden;
	@apply flex flex-col;
	// padding: 0 var(--page-margin);
	// padding-bottom: calc(#{$mobile-nav-height} + 5rem);
	// padding-bottom: var(--nav-height);
}

.link-text {
	@apply font-semibold text-gray-900;
	&:hover {
		@apply text-primary;
	}
	&--light {
		@apply text-white;
		&:hover {
			@apply text-white;
		}
	}
}

.layout {
	// important for navigation and swiping:
	height: 100vh;
	overflow-y: auto;
}
